@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: rgba(67, 132, 170, 0.733);
  font-family: "Source Sans Pro", sans-serif;
}

// .skills-tools {
//   margin: auto;
//   padding: 20px;
//   /* text-align: center; */
// }

.contact-info {
  text-align: center;
}

ul {
  list-style: none;
}
